<div>

    <label for="name">name</label>
    <input required value="<%= prison.name %>"
    type = "text" name = "name" id = "name">



</div>


<div>

    <label for="state">state</label>
    <input required value="<%= prison.state %>"
    type = "text" name = "state" id = "state">

</div>






<div>

    <label for="popTested">population tested</label>
    <input type="number" step="1" name = "popTested" id = "popTested" >

</div>


<div>

    <label for="popTestedPostitive">population tested Positive</label>
    <input type="number" step="1" name = "popTestedPostitive" id = "popTestedPostitive" >

</div>


<div>

    <label for="latitude">prison latitude</label>
    <input type="number" step="1" name = "latitude" id = "latitude" >

</div>


<div>

    <label for="longitude">prison longitude</label>
    <input type="number" step="1" name = "longitude" id = "longitude" >

</div>


<div>

    <label for="deaths">deaths</label>
    <input type="number" step="1" name = "deaths" id = "deaths" >

</div>



<a href ="/">Cancel</a>
<button type = "submit"> Save</button>
